body{
    display: flex;
    flex-direction: column;
    background: #e9ecf8;
    justify-content: center;
    align-items: center;



}

main{
    /* border:1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:40rem;




}
.textarea1{
    resize:none;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-family: Arial, sans-serif;
    font-size: 24px;
    padding: 10px;
    height: 26rem;
    width: 20rem;
    background: none;
}
.textarea2{
    resize:none;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-family: Arial, sans-serif;
    font-size: 24px;
    padding: 10px;
    height: 26rem;
    width: 19.5rem;
    background: none;
}
.encrypt::placeholder {
    color:  rgb(10,56,113,1);
  }
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.encrypt{
    height: 25rem;
    width: 20rem;
}


.decrypt{
    height: 40rem;
    width: 20rem;
    /* border:1px solid rgb(0, 4, 255); */
    border-radius: 0.5rem;
    background-color: white;

}

.margin-right{
    margin-right: 10px;
}
.margin-right{
    margin-right: 10px;
}
.width-height{
    width: 40rem;
    height:10rem
}
.bottons{

    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    margin: 1rem;
    }

.darkblue-300{
   background:rgba(10, 56, 113, 1);
   color: white;
}
.blue{
    background: rgba(216, 223, 232, 1);
    color: rgba(10, 56, 113, 1);
    border: 1px solid rgba(10, 56, 113, 1);
}

.m{
    margin:0.5rem 0;
}

.border{
    /* border:1px solid red; */
    height: auto;
    width: 28rem;
}

.bottont{
    /* border:1px solid red; */
    display: flex;
    flex-direction: row;
    width: 21rem;
}
.gray-400{
    color: rgb(73,80,87,1);
}
.gray-500{
    color: rgb(52,58,64,1);
}
.warning {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color:rgb(73,80,87,1);;
    border:none;
    width: 1rem;
    margin-right: 0.3rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color:rgba(216, 223, 232, 1);
  }
  .adv{
    display: flex;
    flex-direction: row;
  }
